<div class="top-contents-wrapper">
  <% @contents.each do |content| %>
    <div class="top-contents">
      <div class="thumbnail">
        <%= link_to thumbnail_for(content), content_path(content.id) %>
      </div>
      <div class="intro">
        <%= link_to content.title.truncate(35), content_path(content.id) %>
      </div>
    </div>
  <% end %>
  <div class="pager">
    <%= paginate @contents %>
  </div>
</div>
