<div class="top-contents-wrapper">
  <div class="top-contents">
    <div class="thumbnail">
      <%= link_to image_tag('6151yzyTXlL._SX355_.jpg', {:width => "80"}), 'http://google.co.jp' %>
    </div>
    <div class="intro">
      <%= link_to title, url %>
    </div>
  </div>
</div>


//*[@id="main-column"]/div[1]/div/article[1]
//*[@id="main-column"]/div[1]/div/article[2]
