/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
    margin: 0;
  }
  .header-home{
    border-bottom: solid 1px #585858;
    width: 100%;
    height: 120px;
    text-align: center;
    z-index: 1;
    position: fixed;
    background-color: #FFFFFF;
  }
  .header-home a{
    font-size: 80px;
    color: #000000;
    text-decoration: none;
  }
  .header-home p{
    margin: 0;
  }
  article{
    padding-top: 120px;
    margin: 0 20%;
    text-align: center;
  }
  .new-form{
    margin: 20px 20%;
    padding: 10px;
  }
  .new-form h2{
    color: #2E2E2E;
  }
  article a{
    text-decoration: none;
    color: #A4A4A4;
  }
  .field{
    margin-bottom: 20px;
  }
  .actions{
    margin-bottom: 20px;
  }
  .btn{
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 5px 50px;
    border-style: solid;
  }
  article:after{
    display: block;
    clear: both;
  }

@media (min-width: 768px) and (max-width: 1024px){
  .header-home{
    height: 110px;
  }
  .header-home a{
    font-size: 70px;
  }
  article{
    padding-top: 110px;
    margin: 0 15%;
  }
}

@media (min-width: 600px) and (max-width: 767px){
  .header-home{
    height: 100px;
  }
  .header-home a{
    font-size: 60px;
  }
  article{
    padding-top: 100px;
    margin: 0 10%;
  }
}

 @media (max-width: 599px){
   .header-home{
     height: 75px;
   }
   .header-home a{
     font-size: 40px;
   }
   article{
     padding-top: 75px;
     margin: 0;
     height: 100%;
   }
 }
